@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Montserrat:wght@500&family=Mulish:wght@500&family=Overpass:wght@500&family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

/* Criando variáveis padrões para facilitar o desenvolvimento do código... */
:root {
    --primary: #43B0F1;
    --secondary: #95989A;
    --text-color: #FFFFFF;
    --text-secondary: #000000;
    --text-tertiary: #5d5d5d;
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;  /* Zeramos as margens! */
    padding: 0;  /* Zeramos o espaço ao redor do conteúdo dos elementos! */
    box-sizing: border-box;  /* Delimitamos os elementos à área útil que obtemos! Por exemplo: as divs respeitarão as larguras máximas dos elementos. */
}

/* Event form... */
#event-description {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../img/hrz-5.jpg");
    background-position: center;
    background-size: cover;  /* Fazemos com que a imagem fique centralizada (com o 'background-position: center;') ocupe toda a área útil que temos (com o 'background-size: cover;')! */
    height: 85vh;  /* 85% da tela! */
    display: flex;
    justify-content: space-around;  /* Os elementos ficarão IGUALMENTE espaçados nas bordas e entre eles mesmos! */
    align-items: center;  /* Alinhamos os elementos ao CENTRO da página! */
    color: var(--text-color)
}

#disclaimer h1, #disclaimer .event-date {
    color: var(--primary);
}

#disclaimer h1 {
    font-size: 3em;
    margin-bottom: 1em;  /* Afastando dos elementos que estão ABAIXO! */
}

#disclaimer .about-event {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    max-width: 350px;
    font-weight: bold;
    margin-bottom: 1em;
}

#disclaimer p {
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    margin-bottom: .3em;
}

#disclaimer .event-date {
    font-weight: bold;
}

#subscription-form {
    background-color: var(--secondary);
    padding: 2em;
    max-width: 22%;
}

#subscription-form p {
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    color: var(--text-secondary);
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;  /* Deixamos TODOS os elementos desta classe um emabixo do outro! */
    margin-bottom: 0.8em;
}

.form-group label {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: var(--text-tertiary);
    margin-bottom: .3em;
}

.form-group input, .form-group select {
    font-family: "Heebo", sans-serif;
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn {
    font-family: "Overpass", sans-serif;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--primary);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: .8;
}

.btn:hover {
    opacity: 1;
}

/* Benefits section... */
#key-benefits h2 {
    background-color: var(--secondary);
    text-align: center;
    padding: 2em;
    font-weight: 500;
}

.benefits {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0% auto;
}

.benefit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-tertiary);
}

.benefit .benefit-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

#benefit-1 {
    background-image: url("../img/sqr-1.jpg");
}

#benefit-2 {
    background-image: url("../img/sqr-2.jpg");
}

#benefit-3 {
    background-image: url("../img/sqr-3.jpg");
}

/* Event location... */
#location {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../img/hrz-1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3em;
}

#address, #about-location {
    max-width: 30%;
}

#address {
    display: flex;
}

#address i {
    color: var(--primary);
    font-size: 4em;
    margin-right: .5em;
}

#address-details {
    text-align: center;
    font-size: 1em;
}

#about-location h3 {
    color: var(--primary);
    font-size: 2.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
}

#about-location p {
    font-family: Helvetica, sans-serif;
    line-height: 1.5em;
}

/* Event details container */
detail {
    flex-direction: column;
    margin-bottom: 0.5em;
    gap: 0;
}

.details {
    width: 8%;
    margin: 0 auto;
}

.detail {
    display: flex;
    align-items: flex-start;  /* Alinhamos os elementos de cima para baixo, e não pelo centro! */
    justify-content: space-between;  /* Os elementos estarão espaçados IGUALMENTE entre si! */
    gap: 5%;  /* Distanciamos os elementos entre si, para não ficarem "colados"! */
    margin-bottom: 4em;
}

.detail img {
    width: 50%;
}

.detail h3 {
    margin-bottom: 3em;
    font-size: 2em;
    font-weight: 500;
}

#detail-1 h3 {
    font-size: 3em;
    font-weight: 700;
}

.detail-description {
    width: 100%;
    padding-left: 2em;
}

.detail-description ul {
    list-style-position: inside;
}

.detail-description ul li {
    margin-bottom: 0.4em;
}

.detail-description ul li:last-child {
    font-weight: bold;
}

/* Call to action section */
#cta {
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../img/hrz-1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

#cta h3 {
    margin-bottom: 1.2em;
    font-size: 2em;
    font-weight: 500;
}

#cta .btn {
    width: 30%;
    margin: 0 auto;  /* Centralizamos o botão na HORIZONTAL. */
    font-weight: 600;
    font-size: 1.2em;
}

/* Footer */
#footer {
    text-align: center;
    color: var(--secondary);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer h3 {
    font-size: 1.8em;
    margin-bottom: .5em;
}

#footer p:nth-child(2){
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#footer p {
    font-family: Helvetica, sans-serif;
}

#footer p span {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

/* Mobile */
@media (max-width: 450px) {
    .btn {
        opacity: 1;
    }

    /* Event form */
    #event-description {
        flex-direction: column;
        height: auto;
    }

    #disclaimer {
        padding: 2em;
    }

    #discleimer h2 {
        margin-top: .5em;
    }

    #subscription-form {
        max-width: 70%;
        margin-bottom: 2em;
    }

    /* Benefits section */
    .benefits {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;
    }

    .benefit {
        max-width: 100%;
        margin-bottom: 2em;
    }

    /* Event location */
    #location {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2em 0;
    }

    #address {
        order: 2;
        flex-direction: column;
        max-width: 100%;
    }

    #address i {
        margin: .3em 0;
    }

    #about-location {
        order: 1;
        max-width: 100%;
    }

    #about-location h3 {
        margin-bottom: 0;
    }

    #about-location p {
        display: none;
    }

    /* Event details container */
    .detail {
        flex-direction: column;
        margin-top: .5em;
        gap: 0;
    }

    .detail img {
        width: 100%;
        margin: 2em 0;
    }

    #detail-1  img {
        display: none;
    }

    .detail-description {
        padding: 0;
    }

    #detail-3 img {
        order: 2;
    }

    #detail-3 .detail-description {
        order: 1;
    }

    /* Call to action section */
    #cta {
        text-align: center;
    }

    #cta .btn {
        width: 80%;
    }
}